#main{
    background-color: #2e1a47;
}
#main-container{
    width: auto;
    height: auto;
    background-color: #4a2a6a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    
}
.text{
    color: white;
}


#image-container{
    width: 100%;
    height: 1000px;
    margin-top: 20px;
    background-color: #794b8b;
    border-radius: 15px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#image-box{
    width: 95%;
    height: 700px;
    background-color: #e2c7e6;
    border-radius: 15px;    
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;   
    align-items: center; 
    

}


#options{
    display: flex;
    flex-direction: column;
    
}

#image-nasa{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    
}

.button{
   border-radius: 15px;
   width: 200px;
}